@import url('https://fonts.googleapis.com/css?family=Mali:400i');
@import url('https://fonts.googleapis.com/css?family=Lobster|Mali:400i');





body {
  background-color: rgb(135, 188, 234);
}

h1 {
  background-color:black;
  color:red;
  font-size:30px;
  font-family: 'Mali', cursive;
 
}



p {
  color:(0,0,0);
  font-size:20px;
  font-family: 'Lobster', cursive;
}

a {
  color:green;
  font-size:20px;
  
 
}

a:hover{
  color:black;
  font-size:20px;
  
}

li{
  color:white;
  font-size:30px;
}
 div{
   background-color: pink;
}

.kotak1 {
   background-color: yellow;
   width: 400px;
   height: 800px;
}
   
.kotak2{
   background-color: Chartreuse;
   width: 200px;
   height: 800px;
}
   
.kotak3{
    background-color: DeepPink;
    width: 600px;
   height: 200px;
}
