body {
  background-color: rgb(135, 188, 234);
}

h1 {
  background-color: black;
  color:red;
  font-size:30px;
}



p {
  color:(0,0,0);
  font-size:20px;
}

a {
  color:green;
}

a:hover{
  color:black;
  font-size:27px;
}

li{
  color:white;
  font-size:30px;
}
  
