@import url('https://fonts.googleapis.com/css?family=Mali:400i');
@import url('https://fonts.googleapis.com/css?family=Lobster|Mali:400i');





body {
  background-color: rgb(135, 188, 234);
}

h1 {
  background-color:black;
  color:red;
  font-size:30px;
  font-family: 'Mali', cursive;
 
}



p {
  color:(0,0,0);
  font-size:20px;
  font-family: 'Lobster', cursive;
}

a {
  color:green;
  font-size:20px;
  
 
}

a:hover{
  color:black;
  font-size:20px;
  
}

li{
  color:white;
  font-size:20px;
}
 


.kotak1 {
   background-color: yellow;
   width: 400px;
   height: 80px;
   float:left:
}
   
.kotak2{
   background-color: Chartreuse;
   width: 400px;
   height: 80px;
}
   
.kotak3{
    background-color: DeepPink;
    width: 600px;
   height:300px;
}
.adel {
  background-color: lime;
    width: 600PX;
    float:left;
    height:300px;
}  
.you {
    background-color:rgb(0,0,0);
    width:600PX;
    float:left;
    height:300px;
}  
  .boy {
    background-color:rgb(0,0,0);
    width: 33.33%;
    float:left;
    height:300px;

    
    
